{% extends "base.html" %} {% block Calculator %}

<!-- clearScreen() function clear all the value;-->
<div class="container">
        
  <div class="heading"
    
      <p> AVERAGE CALCULATOR </p>

  </div>
</div>

  <div class="first-lot">
    <p class="title">FIRST LOT</p>
      <div>
        <input 
        placeholder="Current Quantity"
        class="form-control" type="number" inputmode="decimal" id="units1" autocomplete="off" onchange="unitChanged('units1','error1')" />
        <!-- <span id='error1'></span> -->
      </div>
      <div >
        
        <input class="form-control" placeholder="Current Price" type="number" inputmode="decimal" id="Price1" autocomplete="off" onchange="unitChanged('Price1','error2')" />
        <!-- <span id='error2'></span> -->
      </div>
  </div>
  <div class="second-lot">
    <p class="title">SECOND LOT</p>
      
      <div>
        
        <input class="form-control" placeholder="New Quantity" type="number" inputmode="decimal" id="units2" autocomplete="off" onchange="unitChanged('units2','error3')" />
        <br>
        <!-- <span id='error3'></span> -->
      </div>
      <div >
        <!-- !<===> -->
        <input class="form-control" placeholder="New Price" type="number" inputmode="decimal"
        id="Price2" autocomplete="off" onchange="unitChanged('Price2','error4');getAverage()">
        
        <!-- <span id='error4'></span> -->
      </div>
  </div>
  <div class="sub-btn">
    <button id="calc" onclick="getAverage()">CALCULATE</button>
    
    <button id="clr" onclick="clearFields()">Clear Fields</button>
  </div>
  <br>
  <div id="FR" class="total">
    <p class="avgP">Average Price</p>
    <h4 id="result"></h4>
  </div>
  <div class="otherP">
    <p class="TI"> TotAL Inversment</p>
    <p class="TQ">Total Quantity</p>
  </div>
</div>
</div>
<!-- <footer>
<div class="container">
  &copy; Shubham Singh Baghel, All Right Reserve</div>
</footer> -->

</div>
{% endblock Calculator %}
